{% extends 'polls/base.html' %}

{% load static %}
{% block content %}
{% if latest_question_list %}
<ul>
  {% for question in latest_question_list %}
  <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
  {% endfor %}
</ul>
{% else %}
<p>No polls are available.</p>
{% endif %}

<img src="{% static 'polls/img/espeon.jpg' %}">

<h1 id="hello">Hello!</h1>
<hr>
<a href="{% url 'polls:register' %}">
  <button id="reg_btn" class="btn btn-primary" type="button">Register</button></a>
{% endblock %}

{% block js %}
<script src="{% static 'polls/js/index.js' %}"></script>
{% endblock %}